<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} {% else %} {{ site.name }} {% endif %}</title>
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">Bandicam Ücretsiz İndir</a></h1>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">BANDICAM</a>
            <a href="{{ site.baseurl }}/about">HAKKIMIZDA & İLETİŞİM</a>
            <a href="{{ site.baseurl }}/nasil-kullanilir">NASIL KULLANILIR?</a>
       
          </nav>
        </header>
      </div>
    </div>
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
         <a href="https://sonsurum.club/whatsapp-plus-indir/">Whatsapp Plus indir</a> - 
          2020 - <a href="https://sonsurum.club">SonSurum.Club</a> 
          
          <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(56471413, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/56471413" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
        </footer>
      </div>
    </div>
     </body>
</html>
